menuconfig EEPROM
	bool "EEPROM Support"
	help
	  Support for EEPROM alike devices.

	  This framework is designed to provide a generic interface to EEPROM
	  from both the Linux Kernel and the userspace.

	  If unsure, say no.

if EEPROM

config EEPROM_DEBUG
	bool "EEPROM debug support"
	help
	  Say yes here to enable debugging support.

config EEPROM_AT25
	tristate "SPI EEPROMs from most vendors"
	depends on SPI
	help
	  Enable this driver to get read/write support to most SPI EEPROMs,
	  after you configure the board init code to know about each eeprom
	  on your target board.

	  This driver can also be built as a module.  If so, the module
	  will be called at25.

config EEPROM_SUNXI_SID
	depends on ARCH_SUNXI
	tristate "Allwinner SoCs SID support"
	help
	  This is a driver for the 'security ID' available on various Allwinner
	  devices.

	  This driver can also be built as a module. If so, the module
	  will be called sunxi_sid.

endif
